@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

body {
    background-color: black;
}

.main {
    height: 70vh;
    background-image: url(./assests/images/mainbg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: max(1200px, 100vw); trick for resizing - browser is responsive so no needed  */
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    /* padding: 16px 0; */
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    width: 134px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: "Poppins", sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.separation {
    height: 7px;
    background-color: rgb(60, 57, 57);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    /* border-radius:  */
}

.btn-red {
    background-color: red;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    border: none;
}

.main input {
    padding: 15px 220px 16px 9px;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Poppins", sans-serif;
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
}


.first>div {
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 34px 0; */
}

.secImg {
    position: relative;
}

.secImg img {
    width: 449px;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 332px;
    height: 185px;
    top: 72px;
    right: 0;
    left: 61px;
    position: absolute;
}

.first>div :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.first>div :nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.faq {
    background-color: black;
    color: white;
    font: "Poppins", sans-serif;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 900;
}

.faqbox:hover {
    background-color: rgb(78 78 78);
}

.faqbox {
    transition: all 0.7s ease-out;
    display: flex;
    background-color: rgb(45, 45, 45);
    padding: 24px;
    max-width: 70vw;
    margin: 7px auto 0 auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
}

footer {
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 34px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}


.footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer a {
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 1230px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}

@media screen and (max-width: 1230px) {
    .first {
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;
    }
    .secImg video{
        top: 15px;
        width: 188px;
    }
    .hero> :nth-child(1) {
        font-size: 32px;
    }
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    .hero> :nth-child(3) {
        font-size: 18px;
    }
    .first>div :nth-child(1) {
        font-size: 32px;
    }
    .first>div :nth-child(2) {
        font-size: 18px;
    }
    nav{
        max-width: 90vw;
    }
    .main input{
        padding: 10px 100px 11px 9px;
    }
    .hero-buttons{
        flex-direction: column;
    }
    .btn-red{
        padding: 8px 10px;
        font-size: 18px;
    }
    .faq h2 {
        font-size: 32px;
    }  
    .faqbox{
        font-size: 18px;
    } 
    footer{
        max-width: 90vw;
    }
} 